
<title>Изменить пароль</title>

<script>
    function myFunction() {
    var x = document.getElementById("password");
    var y = document.getElementById("password_confirmation");
    if (x.type === "password") {
        x.type = "text";
        y.type = "text";
    } else {
        x.type = "password";
        y.type = "password";
    }
}
</script>
<section class="content"  style="width:100%; height:100%">
    <div class="" style = "display:flex; justify-content:center; align-items:center; height:100%">
        <div class="" style="padding-bottom:10px">
            <p style = "font-size:20"> {{ error }} </p>
            <br>
              <form method="post">
                  {% csrf_token %}
                  <div class="" style="padding-bottom:10px; display:flex; justify-content:space-between">
                      <label for="password" style="padding-bottom:10px">Одноразовый пароль</label>
                      <input type="password" name="otp" id="otp" required>
                  </div>
                  <div class="" style="padding-bottom:10px; display:flex; justify-content:space-between">
                      <label for="password" style="padding-bottom:10px">Пароль</label>
                      <input type="password" name="password" id="password" required>
                  </div>
                  <div class="" style="padding-bottom:10px; display:flex; justify-content:space-between">
                      <label for="password_confirmation" style="padding-bottom:10px">Подтвердите пароль</label>
                      <input type="password" name="password_confirmation" id="password_confirmation" required>
                  </div>
                  <input type="checkbox" onclick="myFunction()">Показать пароль
                <input type="submit" value="Изменить пароль">
              </form>
        </div>
    </div>
</section>
